@font-face {
    font-family: 'fontawesome-webfont';
    src: url(fonts/FontAwesome.otf)
}

@font-face {
    font-family: 'fontawesome-webfont';
    src: url(fonts/fontawesome-webfont.ttf)
}

@font-face {
    font-family: 'opensans-regular-webfont';
    src: url(fonts/opensans-regular-webfont.ttf);
}

.bienvenida{
    animation-timing-function: ease;
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}

*{
    scroll-behavior: smooth;
}

.fondo {
    position: absolute;
    z-index: -999;
    width: 100%;
    height: 100vh;
    background-image: url(imagenes/fondo-bienvenido-grande.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

*{
    margin: 0;
    padding: 0;
}
body {
    font-family: opensans-regular-webfont;
}
header {
    background: rgba(0,0,0,0.7);
    width: 100%;
    position: fixed;
    z-index: 100;
    display: flex ;
    justify-content: space-around;
    align-items: center;
}

h1 {
    float: left;
    overflow: hidden; 
    display: block; 
    padding: 20px;
    color: #fff;
}

nav {
    float: right;
}

nav ul {
    float: right;
    list-style: none;
    overflow: hidden; 
}
nav ul li {
    float: left;
    font-size: 20px;
} 

nav ul li a {
    display: block; 
    padding: 10px;
    color: #fff;
    text-decoration: none;
} 

nav ul li:hover {
    background: #eb633a;
    border-radius: 4px;
}

.bienvenidos{
    width: 100%;
    height: 100vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

h2{
    font-size: 60px;
    margin: 20px;
    margin-bottom: 40px;
}

.boton{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    border: 1px #eb633a;
    padding: 15px;
    background-color: #eb633a;
    border-radius: 4px;
    transition: background-color .5s;
}

.boton:hover {
    background-color:#ff521e;
    border-radius: 4px;
} 

section {
    background-color: #eb633a;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}
section article img {
    margin: 20px;
    border-radius: 50%;
}

.textogrande{
    font-size: 40px;
}

.boton2{
    text-decoration: none;
    font-size: 20px;
    border: 1px #fff;
    padding: 15px;
    background-color: #fff;
    border-radius: 4px;
    color: rgb(0, 0, 0);
    transition: background-color .5s
} 
.boton2:hover {
    background-color: #979797;
    border-radius: 4px;
} 


section article {
    height: 480px;
}

.textopequeno {
    text-align: justify;
    margin: 15px;
    margin-bottom: 20px;
}

.second-section {
    padding: 50px 0 50px 0;
    background: #fff;
    color: black;
    width: 100%;
    display: block;
}
.second-section .servicios{
    display: block;
    text-align: center;
}
.second-section div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px ;
}
.second-section div div {
    display: flex;
    flex-direction: column;
}

.second-section div div i {
    color: #eb633a;
    font-size: 80px;
    margin-bottom: 40px;
}

.second-section div div b {
    font-weight: bold;
    font-size: 20px;
}
.section3 .proyectos {
    font-size: 50px;
    margin: 40px;
}

.servicios{
    font-size: 40px;
    margin-bottom: 60px;
}
.section3 {
    background-color: rgb(65, 65, 65);
    display: flex;
    flex-direction: column;
}

.images {
    margin: auto;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    width: 100vw;
}

.imagenes {
    margin: 15px;
}

.final {
    background-color: #1b1b1b;
    width: 100vw;
    height: 100px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.images img{
    width: 400px;
}